/* html native */

body {
    background-image: linear-gradient(90deg, rgba(36, 33, 36, 1) 0%, rgba(90, 79, 207, 1) 100%);
    margin: 0;
    height: 100vh;
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FF 100%);
    
    opacity: 0;
    transition: opacity 3s ease;
    z-index: -1;
}

body.light-mode::before {
    opacity: 1;
}

h2 {
    color: white;
}

/* id */

#snackbar_theme-toggle {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #FFF;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: "ADLaM Display";
}

#snackbar_theme-toggle.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 1s, fadeout 0.5s 2.5s;
}

/* classes */

.dark-light_toggle {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.theme_toggle {
    display: inline-flex;
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    z-index: 1;
    margin-left: 20px;
    width: 100px;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.theme_toggle:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.sidenav {
	position: absolute;
	width: 20%;
	height: 100%;
	background: linear-gradient(0deg, #000, #272727);
}

.sidenav:before, .sidenav:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #FE433C, #F31D64, #A224AD,#6A38B3, #3C50B1, #3C50B1, #6A38B3, #A224AD, #F31D64, #FE433C);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

.sidenav:after {
	filter: blur(100px);
}

/* keyframes */

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 200% 0;
	}
	100% {
		background-position: 0 0;
	}
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}