/* html native elements */

body {
    background-color: #757575;
}

h1 {
    color: #4A4A4A;
    font-family: "Lucida Handwriting", cursive;
    font-size: 3.5vh;
}

h2 {
    font-family: sans-serif;
    font-size: xx-large;
}

header {
    display: flex;
    justify-content: space-between;
}

hr {
    border: 5px solid #757575;
    border-radius: 5px;

    width: 15vw;
}

/* navbar */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 5px solid #3B3B3B;
    border-radius: 30px;
    
    height: 5vw;
    width: 15vw;
    min-width: 10vw;
    
    margin: 4vh 5vw;
    
    background-color: #B2B2B2;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 5px solid #3B3B3B;
    border-radius: 30px;
    
    height: 5vw;
    width: 15vw;
    min-width: 10vw;
    
    margin: 4vh 5vw;
    
    background-color: #B2B2B2;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 5px solid #3B3B3B;
    border-radius: 30px;
    
    height: 5vw;
    min-width: 20vw;
    
    margin: 4vh 5vw;
    
    background-color: #B2B2B2;
}

.search, .settings, .title {
    transition: all 0.5s ease-in-out;
    will-change: transform;

    box-shadow: 0 4.5px 10px rgba(2, 6, 23, 0.3);
}

.search:hover, .settings:hover, .title:hover {
    transform: translateY(-10px);

    box-shadow: 0 18px 40px rgba(2, 6, 23, 0.55);
}

.search_box {
    display: flex;
    text-align: center;
    
    border: 5px solid #3B3B3B;
    border-radius: 20px;
    
    margin-left: 1vw;
    
    width: 5vw;
    height: 5vh;
    
    
    transition: all 0.7s ease-in-out;
}

.search_box:hover, .search_box:focus {
    width: 10vw;
}

/* projects */

.project_box {
    display: flex;
    flex-direction: column;
}

.row_one {
    display: flex;
    flex-direction: flex-start;
}

.project_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    border: 5px solid #3B3B3B;
    border-radius: 20px;
    
    background-color: #B2B2B2;

    margin: 5vw;
    padding: 26px;
    
    width: 20vw;
    
    transition: all 0.5s ease-in-out;
    will-change: transform;

    box-shadow: 0 4.5px 10px rgba(2, 6, 23, 0.3);
}

.project_card:hover {
    transform: translateY(-10px);

    box-shadow: 0 18px 40px rgba(2, 6, 23, 0.55);
}

/* specific projects */

.timer_title {
    font-family: "Trebuchet MS", sans-serif;
}
/* order: display -> border -> background -> composition -> dimensions -> transitions -> misc. */
