body {
    background-color: #AEEEEE;
}

h1 {
    font-family: "Trebuchet MS", sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
}

.title_box, .settings, .homepage_return {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 7px solid #003366;
    border-radius: 30px;

    min-height: 5vw;
    min-width: 15vw;

    margin: 4vh 5vw;

    background-color: #96c9ff;

    transition: all 0.5s ease-in-out;
    will-change: transform;

    box-shadow: 0 4.5px 10px rgba(0, 31, 63, 0.4);
}

.title_box:hover, .settings:hover, .homepage_return:hover {
    transform: translateY(-10px);

    box-shadow: 0 18px 40px rgba(0, 31, 63, 0.4);
}

